/*
 * @Author: Amirhossein Hosseinpour <https://amirhp.com>
 * @Date Created: 2021/07/12 16:58:32
 * @Last modified by: amirhp-com <its@amirhp.com>
 * @Last modified time: 2025/12/12 15:17:41
 */

.swatches-tool {
	float: inline-end;
	margin-top: -3px;
}

.swatches-tool span {
	-webkit-margin-start: 1rem;
	margin-inline-start: 0.5rem;
	cursor: pointer;
	display: inline-block;
	width: 30px;
}

.puiw_color_schemes_tool {
	margin: 2rem 0;
}

.btn.dashicons.disabled {
	color: #a0a5aa !important;
	border: 1px solid #ddd !important;
	background: #f7f7f7 !important;
	box-shadow: none !important;
	cursor: default;
	transform: none !important;
}

h2.red::after {
	background: #fe050578 !important;
}
