/*
 * @Author: Amirhossein Hosseinpour <https://amirhp.com>
 * @Date Created: 2022/07/12 22:49:48
 * @Last modified by: amirhp-com <its@amirhp.com>
 * @Last modified time: 2025/12/12 15:16:42
 */

:root {
  --puiw--bg: #212224;
}

@font-face {
  font-family: bodyfont;
  font-style: normal;
  font-weight: normal;
  src: url("../css/96594ad4.woff") format('woff');
}

@font-face {
  font-family: bodyfont;
  font-style: normal;
  font-weight: bold;
  src: url("../css/96594ad5.woff") format('woff');
}

toast {
  display: block;
  background: var(--toast-bg, rgba(0, 0, 0, .8));
  color: #fff;
  text-align: center;
  bottom: 0;
  top: auto;
  width: 100vw;
  left: 0;
  padding: 1rem;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  transform: translateY(110%);
  position: fixed;
  z-index: 9999999999999999 !important;
}

toast:empty {
  display: none;
}

toast.active {
  transform: translateY(0);
}

#TB_ajaxContent,
#TB_closeWindow,
#TB_title,
#TB_window {
  border-radius: 5px !important;
}

#TB_caption {
  line-height: 2.5 !important;
}

#TB_ajaxContent {
  scrollbar-width: thin !important;
  margin-bottom: 0.5rem !important;
}

#TB_ImageOff:focus {
  color: unset !important;
  box-shadow: unset !important;
  outline: unset !important;
}

#TB_window img#TB_Image {
  margin: auto !important;
  border: none !important;
  width: 100%;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  cursor: zoom-out !important;
}

#TB_closeWindowButton:focus .tb-close-icon {
  box-shadow: none !important;
}

#dateformathelp {
  display: none;
}

.short-tags.button {
  font-style: normal !important;
  margin-top: 0.5rem;
  display: inline-block;
}

/*dark mode*/
html.dark #TB_ajaxWindowTitle,
html.dark #TB_title,
html.dark #TB_window,
html.dark #wpbody,
html.dark #wpbody *:not([class|='iris']):not(.button-primary):not(button):not(li):not(input):not(textarea):not(.select2-selection__arrow):not(b):not(.media-modal-content):not(.media-modal-icon):not([class|='minicolors']),
html.dark *:not([class|='iris']):not(.button-primary):not(button):not(li):not(input):not(textarea):not(.select2-selection__arrow):not(b):not(.media-modal-content):not(.media-modal-icon):not([class|='minicolors']),
html.dark .select2-container--default .select2-selection--multiple .select2-selection__choice,
html.dark .select2-selection,
html.dark body {
  transition: all 0.3s ease-in-out;
  background: var(--puiw--bg);
  background-color: var(--puiw--bg);
  border-color: #383a41;
  color: #d7d7db;
}

html.dark .select2-container--default .select2-results__option[data-selected=true] {
  transition: all 0.3s ease-in-out;
  background-color: #383a41 !important;
}

html.dark input[type],
html.dark textarea {
  background: #38393c;
  color: white;
  border: none;
  border-color: transparent;
}

html.dark input[type],
html.dark span.selection,
html.dark textarea {
  box-shadow: 2px 2px 15px -6px #0d0b0b;
}

html.dark .wp-core-ui .attachment.details {
  box-shadow: inset 0 0 0 8px #111215, inset 0 0 0 7px var(--puiw--bg);
}

html.dark .wp-core-ui .attachment.details:focus,
html.dark .wp-core-ui .attachment:focus,
html.dark .wp-core-ui .selected.attachment:focus {
  box-shadow: inset 0 0 0 8px #111215, inset 0 0 0 7px var(--puiw--bg);
  outline: none;
}

html.dark .wp-core-ui .attachment.details .check,
html.dark .wp-core-ui .attachment.selected .check:focus,
html.dark .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
  background-color: #28282f;
  box-shadow: 0 0 0 1px #515160, 0 0 0 2px #44474f;
}

html.dark .media-router .active,
html.dark .media-router .media-menu-item.active:last-child {
  background: var(--puiw--bg);
  border: none;
  color: white;
  font-weight: bold;
}

html.dark .media-router .active,
html.dark .media-router .active:hover,
html.dark .media-router .media-menu-item:active,
html.dark .media-router .media-menu-item:hover {
  color: white;
}

html.dark .media-router .media-menu-item {
  color: #8b8c91;
}

html.dark .media-router .media-menu-item:focus {
  box-shadow: none;
  color: white;
  outline: none;
}

html.dark .media-modal-close:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}

html.dark #tiptip_holder.tip_bottom #tiptip_arrow_inner {
  border-color: transparent !important;
  border-bottom-color: #333 !important;
}

form#mainform h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.5;
  display: inline-block;
  position: relative;
}

form#mainform h2::after {
  content: '';
  display: block;
  height: 7px;
  width: 0;
  background: #ffa176;
  -webkit-animation: 1s fillh2 0.5s ease-in-out both;
  animation: 1s fillh2 0.5s ease-in-out both;
  position: absolute;
  z-index: 0;
}

@-webkit-keyframes fillh2 {
  100% {
    width: 100%;
  }
}

@keyframes fillh2 {
  100% {
    width: 100%;
  }
}

#mainform {
  margin-top: 2rem;
}

@media only screen and (max-width: 780px) {
  .subsubsub {
    text-align: start;
  }
}

#wp-admin-bar-puiw_toolbar_sep,
#wp-admin-bar-puiw_toolbar_sep *,
#wp-admin-bar-puiw_toolbar_sep2,
#wp-admin-bar-puiw_toolbar_sep2 *,
#wp-admin-bar-puiw_toolbar_sep2:hover,
#wp-admin-bar-puiw_toolbar_sep2:hover *,
#wp-admin-bar-puiw_toolbar_sep:hover,
#wp-admin-bar-puiw_toolbar_sep:hover * {
  pointer-events: none !important;
}

id {
  display: block;
  font-family: Consolas, Arial;
  background: #dad9d9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

id~id {
  display: none;
}

body::after {
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  background: url("../img/peprodev.svg") no-repeat center/min(10vh, 10vw);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-filter: opacity(0.03);
  filter: opacity(0.03);
  z-index: 9999999999999;
}

.forminp.forminp-radio ul.morefive {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 783px) {
  .forminp.forminp-radio ul.morefive {
    grid-template-columns: 1fr;
  }
}

.ultinateinvoicebypeprodev input[type=checkbox] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-tap-highlight-color: transparent !important;
  cursor: pointer !important;
}

.ultinateinvoicebypeprodev input[type=checkbox]:focus {
  outline: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

.ultinateinvoicebypeprodev input[type=checkbox] {
  height: 1.25rem !important;
  width: 3rem !important;
  min-width: 1.25rem !important;
  max-width: 3rem !important;
  border-radius: 16px !important;
  display: inline-block !important;
  position: relative !important;
  margin: 0.5rem !important;
  border: none !important;
  background: #ec4f4f !important;
}

.ultinateinvoicebypeprodev input[type=checkbox]:after {
  content: "" !important;
  position: absolute !important;
  top: 4px !important;
  left: 4px !important;
  width: 0.8rem !important;
  height: 0.8rem !important;
  border-radius: 50% !important;
  background: white !important;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2) !important;
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35) !important;
}

.ultinateinvoicebypeprodev input[type=checkbox]:checked {
  background: #22be15 !important;
  box-shadow: none !important;
  outline: none !important;
}

.ultinateinvoicebypeprodev input[type=checkbox]:checked:before {
  content: "" !important;
}

.ultinateinvoicebypeprodev input[type=checkbox]:checked:after {
  transform: translatex(calc(3rem - 0.8rem - 8px)) !important;
}

.ultinateinvoicebypeprodev.woocommerce table.form-table th label {
  display: inline-block;
}

.wp-picker-holder {
  display: none;
}

.wp-picker-active .wp-picker-holder {
  display: block;
}

.woocommerce table.form-table .iris-picker {
  display: block !important;
}

[dir=rtl] :is(a, body, button, h1, h2, h3, h4, input, label, p) {
  font-family: 'bodyfont', Tahoma !important;
}

[dir=rtl] #wp-admin-bar-puiw_toolbar_dash_btn a span.ab-icon::before {
  content: "\f344" !important;
}

body.modal-open {
  overflow: visible;
}

.woocommerce table.form-table textarea {
  width: 400px;
  min-width: 400px;
  max-width: 1000px !important;
  resize: both;
}

#puiw_preinvoice_template~span~img,
#puiw_template~span~img {
  position: absolute;
  margin: -0.1rem 0.5rem;
  width: 2rem;
  border: 1px solid #8080805e;
}

input:not([type='checkbox']):not([type='radio']),
textarea {
  cursor: url("https://img.icons8.com/small/16/000000/text-cursor.png") 1 1, pointer !important;
}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button {
  padding: 10px 50px;
}

.ui-selectmenu-button.ui-widget.ui-state-default[aria-expanded="true"] {
  border-bottom: none;
  border-color: #007cba;
  box-shadow: 0 0 0 1px #007cba;
}

li.ui-menu-item.ui-state-focus {
  border: none !important;
  background: #0073aa;
  background-color: #0073aa;
  color: white;
}

.ui-selectmenu-button.ui-widget.ui-state-default {
  background: white;
  border-radius: 1px;
  border-color: gray;
}

.ui-selectmenu-text {
  font-size: 0.9em;
}

.ui-selectmenu-button:hover .ui-selectmenu-text {
  color: #007cba;
}

.ui-selectmenu-button.ui-widget.ui-state-default:focus {
  border-color: #007cba;
  box-shadow: 0 0 0 1px #007cba;
}

.ui-selectmenu-menu.ui-selectmenu-open ul.ui-menu {
  border-color: #007cba;
  box-shadow: 0 0 0 1px #007cba;
  border-top: none;
}

.ui-state-default .ui-icon {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat right 0 top 55%;
  background-size: 16px 16px;
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-content {
  line-height: 2;
}

[dir=rtl] .ui-selectmenu-button span.ui-selectmenu-text {
  text-align: right;
  padding: 0.4em 1em 0.4em 2.1em;
}

[dir=rtl] .ui-selectmenu-button span.ui-icon {
  right: auto;
  left: 0.5em;
}

.dark .minicolors-grid .minicolors-picker>div {
  background: white !important;
  border-color: white !important;
}

.dark .swatches-tool .btn {
  background: #ffffff2e !important;
}

.subsubsub {
  color: #afb4bb;
}

.subsubsub a {
  padding: 0.5rem;
}

.dark .subsubsub {
  color: #4a4a4a !important;
}

@media only screen and (max-width: 900px) {
  :root {
    --wp-admin--admin-bar--height: 70px !important;
  }

  #wpadminbar {
    height: var(--wp-admin--admin-bar--height) !important;
  }

  html.wp-toolbar {
    padding-top: var(--wp-admin--admin-bar--height) !important;
  }
}

@media only screen and (max-width: 783px) {
  :root {
    --wp-admin--admin-bar--height: 100px !important;
  }

  #wp-toolbar>ul>li {
    display: block !important;
  }

  #wpadminbar ul#wp-admin-bar-root-default>li a {
    padding: 0 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  html.wp-toolbar {
    padding-top: 0 !important;
  }

  #wpbody {
    padding-top: var(--wp-admin--admin-bar--height) !important;
  }
}

@media only screen and (max-width: 490px) {
  :root {
    --wp-admin--admin-bar--height: 145px !important;
  }

  html.wp-toolbar {
    padding-top: 0 !important;
  }

  #wpbody {
    padding-top: var(--wp-admin--admin-bar--height) !important;
  }
}

#wpfooter {
  background: url("../img/peprodev.svg") no-repeat center/30px;
}