/**
 * @Author: amirhp-com <its@amirhp.com>
 * @Date:   2022/09/01 18:46:50
 * @Last modified by:   amirhp-com <its@amirhp.com>
 * @Last modified time: 2022/10/13 23:13:44
 */
:root {
	--theme_color: {{{theme_color}}};
	--theme_color2: {{{theme_color2}}};
	--theme_color3: {{{theme_color3}}};
	--theme_fontsize: {{{font_size}}};
	--theme_fontsizel: {{{font_sizes}}};
	--theme_fontsizem: {{{font_sizem}}};
	--watermark_opacity: {{{watermark_opacity}}};
}

* {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

#headertitles {
	border: none !important;
}

.font-small {
	font-size: {{{font_sizes}}};
}

.font-medium {
	font-size: {{{font_sizem}}};
}

.content-table {
	border-collapse: collapse;
}
.content-table tr{
	page-break-after: avoid;
}

.show_product_base_price,
.show_product_tax,
.show_product_total_price {
	min-width: 90px;
}

body, table *, td, th {
	direction: rtl;
	font-size: {{{font_size}}}!important;
}

.print-button {
	display: none;
}

.bordered,
.content-table td,
.content-table td,
tfoot, thead, tr.show_order_items th {
	border-collapse: collapse;
	border: 1 solid white !important;
}

.bordered {
	border: 1px solid #000;
	padding: 0.12cm;
}

#topheadinfo > tr > td {
	border: 1px solid{{{theme_color}}} !important;
}

.content-table td, .content-table th {
	text-align: center;
	padding: 0.1cm;
	font-weight: normal;
	word-break: break-word;
}

.content-table td.show_product_title_description {
	text-align: right;
}

.title {
	font-weight: bold;
}

td table.display_meta * {
	margin: 0;
}

td table.display_meta {
	border-collapse: collapse;
	width: auto;
}

.header-item-wrapper {
	height: 75px;
	vertical-align: middle;
	text-align: center;
	padding: 0 0 4px;
}

.bg {
	background: #eee !important;
}

.bg2 {
	background: {{{theme_color2}}}!important;
}

.bg4 {
	background: {{{theme_color}}}!important;
}

.bg3, .footersignatureauto tr {
	background: {{{theme_color2}}}!important;
}

.show_custom_footer {
	text-align: center;
	padding: 0.2cm;
	background: {{{theme_color2}}}!important;
}

.footersignatureauto {
	margin: 0 !important;
}

.bgONE, .footerauto, .headtr {
	background: {{{theme_color}}}!important;
}

table.content-table tbody tr.odd,
table.content-table tbody tr:nth-child(2n+1) {
	background: #eee !important;
}

table.content-table tfoot tr.even,
table.content-table tfoot tr.odd,
table.content-table tfoot tr:nth-child(2n),
table.content-table tfoot tr:nth-child(2n+1) {
	background: {{{theme_color}}}!important;
}

table.content-table tbody tr.even,
table.content-table tbody tr:nth-child(2n) {
	background: {{{theme_color2}}}!important;
}

.header-table {
	border-collapse: collapse;
	table-layout: fixed;
	border-spacing: 0;
}

.header-table table {
	width: 100%;
	vertical-align: middle;
}

.header-table td {
	padding: 0;
	vertical-align: middle;
	padding: 0.1cm;
	font-weight: normal;
}

table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
}

.header-item-data {
	height: 100%;
	width: 100%;
}

table.centered td {
	vertical-align: middle;
}

.serials {
	direction: ltr;
	text-align: left;
}

.title {
	text-align: right;
}

.grow {
	width: 100%;
	height: 100%;
}

.label {
	font-weight: bold;
	padding: 0 0 0 2px;
}

.ltr {
	direction: ltr;
	display: block;
}

.show_order_notes td {
	padding: 0.2cm;
	vertical-align: top;
}

img.barcode {
	min-height: 40px;
}

img[src=""] {
	display: none;
}

tfoot td:last-of-type * {
	text-align: right;
	vertical-align: top;
}
