.modal * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal {
    position: fixed;
    z-index: 11000;
    top: 50%;
    left: 30%;
    width: 40%;
    border-radius: 6px;
    background: #e8e8e8;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

@media (max-width: 450px) {
    .modal {
        min-width: 70vw;
        left: 15vw;
    }
}

.modal-buttons .modal-button:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
    display: block;
    z-index: 15;
    transform: scaleY(0.5);
}

[dir=rtl] .modal-buttons .modal-button:after {
    right: 0;
    left: auto;
}

.modal-buttons .modal-button:first-child:after {
    display: none;
}

.modal-buttons .modal-button:hover,
.modal-buttons .modal-button:focus {
    /* background: #0000000a; */
}

.modal-buttons .modal-button:first-of-type:hover,
.modal-buttons .modal-button:first-of-type:focus {
    border-bottom-right-radius: 0;
}

.modal-buttons .modal-button:last-of-type:hover,
.modal-buttons .modal-button:last-of-type:focus {
    border-bottom-left-radius: 0;
}

.modal-buttons .modal-button:only-child:hover,
.modal-buttons .modal-button:only-child:focus {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal-inner {
    padding: 16px;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: #e8e8e8;
}

.modal-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modal-title+.modal-text {
    margin-top: 10px;
}

.modal-buttons {
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.modal-button:hover {
    /*color:#065689;*/
}

.modal-button {
    width: 100%;
    padding: 0 5px;
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    text-align: center;
    color: #0894ec;
    background: #e8e8e8;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border-top: 1px solid #b5b5b5;
}


.modal-button:first-child,
.modal-button:last-child {
    border-radius: 0 0 8px 8px;
}


.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.modal-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 1;
}

.modal.modal-in {
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.modal.modal-out {
    opacity: 0;
    z-index: 10999;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(0.815);
    transform: translate3d(0, 0, 0) scale(0.815);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-toast {
    position: absolute;
    left: 50%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    color: white;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    width: auto;
}

.m-actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5000;
    width: 100%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    z-index: 10601;
    background: #efeff4;
}

.m-actionsheet.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
}

.actions-cell {
    position: relative;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.actions-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.actions-cancel {
    margin-top: 6px;
}

.actions-title {
    position: relative;
    height: 65px;
    padding: 0 20px;
    line-height: 1.4;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #888;
    background: #fcfcfd;
}

.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.m-loading .toast {
    position: fixed;
    z-index: 5001;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}

.m-loading .icon {
    display: block;
    margin: 30px auto 6px auto;
    width: 38px;
    height: 38px;
    animation: loading 1s steps(12, end) infinite;
    background: url(loading.svg) no-repeat;
    background-size: 100%;
}

@keyframes loading {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


/***picker**/
.picker {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    background-color: rgba(37, 38, 45, .4);
}

.picker .picker-panel {
    position: absolute;
    z-index: 600;
    bottom: 0;
    width: 100%;
    height: 273px;
    background: #fff;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: all .3s;
}

.picker.active .picker-panel {
    transition: all .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.picker .picker-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    color: #999;
    border-bottom: 1px solid #E3E3E3;
}

.picker .picker-title .cancel,
.picker .picker-title .confirm {
    width: 70px;
    height: 100%;
    line-height: 60px;
}

.picker .picker-title .confirm {
    color: #1E90FF;
}

.picker .picker-title .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.border-1px:after,
.border-top-1px:after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 1px solid #ebebeb;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform-origin: 0 bottom;
    transform-origin: 0 bottom;
}

.border-top-1px:after {
    top: 0;
    bottom: auto;
}

.wheel-item {
    list-style: none;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}

.picker-content {
    position: relative;
    height: 174px;
}

.mask-top,
.mask-bottom {

    z-index: 10;
    width: 100%;
    height: 68px;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.mask-top {
    position: absolute;
    top: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 100%, .4)), to(hsla(0, 0%, 100%, .8)));
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8));
}

.mask-bottom {
    position: absolute;
    bottom: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .4)), to(hsla(0, 0%, 100%, .8)));
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8));
}

.wheel {
    -ms-flex: 1 1 1e-9px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    -ms-flex-preferred-size: 1e-9px;
    flex-basis: 1e-9px;
    width: 1%;
    height: 173px;
    overflow: hidden;
    font-size: 20px;
}

.wheel-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
}

.wheel-scroll {
    padding: 0;
    margin-top: 68px;
    line-height: 36px;
    list-style: none;
}


/*****toptip******/
.m-toptip {
    position: fixed;
    z-index: 105000;
    top: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #ef4437;
    transform: translate3d(0, -100%, 0);
    transition: all .3s;
}

.m-toptip.success {
    background: #3cc51f;
}

.m-toptip.warning {
    background: #f60;
}

.m-toptip.active {
    transform: translate3d(0, 0, 0);
}

/* Colors */
.w3-amber,
.w3-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.w3-aqua,
.w3-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.w3-blue,
.w3-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.w3-light-blue,
.w3-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.w3-brown,
.w3-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.w3-cyan,
.w3-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.w3-blue-grey,
.w3-hover-blue-grey:hover,
.w3-blue-gray,
.w3-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.w3-green,
.w3-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.w3-light-green,
.w3-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.w3-indigo,
.w3-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.w3-khaki,
.w3-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.w3-lime,
.w3-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.w3-orange,
.w3-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.w3-deep-orange,
.w3-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.w3-pink,
.w3-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.w3-purple,
.w3-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.w3-deep-purple,
.w3-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.w3-red,
.w3-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.w3-sand,
.w3-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.w3-teal,
.w3-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.w3-yellow,
.w3-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.w3-white,
.w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.w3-black,
.w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.w3-grey,
.w3-hover-grey:hover,
.w3-gray,
.w3-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.w3-pale-red,
.w3-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.w3-pale-green,
.w3-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.w3-pale-yellow,
.w3-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.w3-pale-blue,
.w3-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.w3-text-amber,
.w3-hover-text-amber:hover {
    color: #ffc107 !important
}

.w3-text-aqua,
.w3-hover-text-aqua:hover {
    color: #00ffff !important
}

.w3-text-blue,
.w3-hover-text-blue:hover {
    color: #2196F3 !important
}

.w3-text-light-blue,
.w3-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.w3-text-brown,
.w3-hover-text-brown:hover {
    color: #795548 !important
}

.w3-text-cyan,
.w3-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.w3-text-blue-grey,
.w3-hover-text-blue-grey:hover,
.w3-text-blue-gray,
.w3-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.w3-text-green,
.w3-hover-text-green:hover {
    color: #4CAF50 !important
}

.w3-text-light-green,
.w3-hover-text-light-green:hover {
    color: #8bc34a !important
}

.w3-text-indigo,
.w3-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.w3-text-khaki,
.w3-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.w3-text-lime,
.w3-hover-text-lime:hover {
    color: #cddc39 !important
}

.w3-text-orange,
.w3-hover-text-orange:hover {
    color: #ff9800 !important
}

.w3-text-deep-orange,
.w3-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.w3-text-pink,
.w3-hover-text-pink:hover {
    color: #e91e63 !important
}

.w3-text-purple,
.w3-hover-text-purple:hover {
    color: #9c27b0 !important
}

.w3-text-deep-purple,
.w3-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.w3-text-red,
.w3-hover-text-red:hover {
    color: #f44336 !important
}

.w3-text-sand,
.w3-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.w3-text-teal,
.w3-hover-text-teal:hover {
    color: #009688 !important
}

.w3-text-yellow,
.w3-hover-text-yellow:hover {
    color: #d2be0e !important
}

.w3-text-white,
.w3-hover-text-white:hover {
    color: #fff !important
}

.w3-text-black,
.w3-hover-text-black:hover {
    color: #000 !important
}

.w3-text-grey,
.w3-hover-text-grey:hover,
.w3-text-gray,
.w3-hover-text-gray:hover {
    color: #757575 !important
}

.w3-text-light-grey,
.w3-hover-text-light-grey:hover,
.w3-text-light-gray,
.w3-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.w3-text-dark-grey,
.w3-hover-text-dark-grey:hover,
.w3-text-dark-gray,
.w3-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.w3-border-amber,
.w3-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.w3-border-aqua,
.w3-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.w3-border-blue,
.w3-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.w3-border-light-blue,
.w3-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.w3-border-brown,
.w3-hover-border-brown:hover {
    border-color: #795548 !important
}

.w3-border-cyan,
.w3-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.w3-border-blue-grey,
.w3-hover-border-blue-grey:hover,
.w3-border-blue-gray,
.w3-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.w3-border-green,
.w3-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.w3-border-light-green,
.w3-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.w3-border-indigo,
.w3-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.w3-border-khaki,
.w3-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.w3-border-lime,
.w3-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.w3-border-orange,
.w3-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.w3-border-deep-orange,
.w3-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.w3-border-pink,
.w3-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.w3-border-purple,
.w3-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.w3-border-deep-purple,
.w3-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.w3-border-red,
.w3-hover-border-red:hover {
    border-color: #f44336 !important
}

.w3-border-sand,
.w3-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.w3-border-teal,
.w3-hover-border-teal:hover {
    border-color: #009688 !important
}

.w3-border-yellow,
.w3-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.w3-border-white,
.w3-hover-border-white:hover {
    border-color: #fff !important
}

.w3-border-black,
.w3-hover-border-black:hover {
    border-color: #000 !important
}

.w3-border-grey,
.w3-hover-border-grey:hover,
.w3-border-gray,
.w3-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.w3-border-light-grey,
.w3-hover-border-light-grey:hover,
.w3-border-light-gray,
.w3-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.w3-border-dark-grey,
.w3-hover-border-dark-grey:hover,
.w3-border-dark-gray,
.w3-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.w3-border-pale-red,
.w3-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important
}

.w3-border-pale-green,
.w3-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.w3-border-pale-yellow,
.w3-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important
}

.w3-border-pale-blue,
.w3-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}